.accordian {
  padding: 0%;
  list-style: none;
}

.accordian-header {
  display: block;
  padding: 15px 20px;
  background: #05B8CC;
  color: white;
  text-decoration: none;
  margin-bottom: 0px;
  font-size: 30px;
}

.accordian-content p {
  margin: 20px;
  text-align: center;
}

.accordian-content {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 400ms ease;
  transition: height 400ms ease
}

.accordian-slider {
  height: 100px;
}

.accordian-slider-closed {
  height: 0;
}

.accordian-header:hover {
  background: #67E6EC
}
